.mat-mdc-button-base {
  --mdc-text-button-label-text-color: var(--mat-sys-on-surface);
  --mdc-text-button-container-shape: var(--mat-sys-corner-extra-small);
  --mdc-protected-button-label-text-color: var(--mat-sys-on-surface);
  --mdc-outlined-button-label-text-color: var(--mat-sys-on-surface);
}
