@use 'sass:map';
@use '../core/typography/typography';
@use '../core/theming/inspection';
@use '../core/tokens/token-utils';
@use './m2-bottom-sheet';
@use 'bottom-sheet-tokens';

@mixin base($theme) {
  $tokens: bottom-sheet-tokens.get-tokens($theme);
  @include token-utils.values(map.get($tokens, base));
}

@mixin color($theme) {
  $tokens: bottom-sheet-tokens.get-tokens($theme);
  @include token-utils.values(map.get($tokens, color));
}

@mixin typography($theme) {
  $tokens: bottom-sheet-tokens.get-tokens($theme);
  @include token-utils.values(map.get($tokens, typography));
}

@mixin density($theme) {
  $tokens: bottom-sheet-tokens.get-tokens($theme);
  @include token-utils.values(map.get($tokens, density));
}

/// Defines the tokens that will be available in the `overrides` mixin and for docs extraction.
@function _define-overrides() {
  @return (
    (
      namespace: bottom-sheet,
      tokens: token-utils.get-overrides(bottom-sheet-tokens.get-tokens(), bottom-sheet)
    ),
  );
}

@mixin overrides($tokens: ()) {
    @include token-utils.batch-create-token-values($tokens, _define-overrides());
}

@mixin theme($theme) {
  @if inspection.get-theme-version($theme) == 1 {
    @include base($theme);
    @include color($theme);
    @include density($theme);
    @include typography($theme);
  } @else {
    @include base($theme);
    @if inspection.theme-has($theme, color) {
      @include color($theme);
    }
    @if inspection.theme-has($theme, density) {
      @include density($theme);
    }
    @if inspection.theme-has($theme, typography) {
      @include typography($theme);
    }
  }
}
