mat-card {
  font: var(--mat-sys-body-medium);
  display: inline-flex;
  flex-direction: column;
  margin: 1rem;
  overflow: hidden;
  min-height: 16rem;
}

.example-background {
  width: 16rem;
  flex-grow: 1;
  padding: 1rem 0.5rem 1rem 0;
}

.example-foreground {
  padding-inline-start: 2rem;
}

.example-role-title {
  font: var(--mat-sys-title-small);
  padding-inline-start: 1rem;
  margin-bottom: 1rem;
}

section {
  margin-inline: 3rem;
  max-width: 75px;
}

.typography-table {
  display: grid;
  grid-template-columns: 200px 1fr;
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: 4px;
  margin-top: 1rem;
}

.typography-header-row,
.typography-row {
  display: contents;
}

.typography-header-row > div,
.typography-row > div {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
}

.typography-header-row > div {
  font-weight: 500;
  background-color: var(--mat-sys-surface-container-low);
}

/* Remove bottom border from the last row */
.typography-table > .typography-row:last-child > div {
  border-bottom: none;
}

.typography-role-name {
  color: var(--mat-sys-on-surface-variant);
}
