<h1> Colors </h1>
@for (group of colorGroups; track $index) {
  <h2>{{group.name}}</h2>

  @for (role of group.roles; track $index) {
    @let titleColorRole = role.titleColorRole || role.foregroundColors[0];
    <mat-card>
      @for (backgroundColor of role.backgroundColors; track $index) {
        <div class="example-background" style.backgroundColor="var(--mat-sys-{{backgroundColor}})">
          <div class="example-foreground example-role-title" style.color="var(--mat-sys-{{titleColorRole}})">
            {{backgroundColor}}
          </div>
          @for (foregroundColor of role.foregroundColors; track $index) {
            <div class="example-foreground" style.color="var(--mat-sys-{{foregroundColor}})">
              {{foregroundColor}}
            </div>
          }
        </div>
      }
    </mat-card>
  }
}

<h2>Typography</h2>

<div class="typography-table">
  <div class="typography-header-row">
    <div>Role</div>
    <div>Example</div>
  </div>
  @for (role of typographyRoles; track role) {
    <div class="typography-row">
      <div class="typography-role-name">{{role}}</div>
      <div class="typography-sample-text" style="font: var(--mat-sys-{{role}})">The quick brown fox jumps over the lazy dog.</div>
    </div>
  }
</div>


