.example-container {
  height: 400px;
  width: 550px;
  overflow: auto;
}

table {
  width: 800px;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-column-name, .mat-column-position {
  border-right: 1px solid #e0e0e0;
}

.mat-column-star {
  border-left: 1px solid #e0e0e0;
}
